@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background: #1f2937;
  text-align: center;
  color: #d5d4d8;
  padding: 30px 40px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

span {
  font-size: 40px;
  font-weight: 800;
  color: #4adf86;
}

hr {
  border: 0;
  border-top: 1px solid #2f3e53;
  margin: 20px auto;
  width: 70%;
}

.container p {
  font-size: medium;
  font-weight: 400;
  margin: 10px 0 50px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 28px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #2f3e53;
  box-shadow: 8px 8px 100px #2f3e53;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
}

input {
  height: 3vh;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-weight: 400;
  margin: 10px auto;
  background: #2f3e53;
  color: #d5d4d8;
  outline: none;
}

.btn-generate {
  border: none;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px auto;
  background: #10b981;
  color: white;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-generate:hover {
  background: transparent;
  border: 1px solid #2f3e53;
  box-shadow: #2f3e53 0px 14px 28px, #2f3e53 0px 10px 10px;
}

.info {
  display: none;
}

.result-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 28px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #2f3e53;
  box-shadow: 8px 8px 100px #2f3e53;
}

.result-container p {
  font-size: small;
  font-weight: 400;
}

.result-container h2 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#passwords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

#password {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #273549;
  margin: 10px;
  cursor: pointer;
  user-select: all;
}

#password:hover {
  border: 1px solid #2f3e53;
  box-shadow: #2f3e53 0px 14px 28px, #2f3e53 0px 10px 10px;
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
}

.button {
  background-color: #47576d;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #5e646d;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox:before {
  content: '';
  background-color: #47576d;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.checkbox-label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.checkbox-label:hover {
  box-shadow: #2f3e53 0px 14px 28px, #2f3e53 0px 10px 10px;
}
